<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @task, local: true) do |f| %>
        <div class="form-group">Status:
          <%= f.text_area :status, class: 'form-control', rows: 1 %>
        </div>
        <div class="form-group">Task:
          <%= f.text_area :content, class: 'form-control', rows: 1 %>
        </div>
        <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <h1>Your Task</h1>
      <%= render 'tasks/tasks', tasks: @tasks %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Your Task</h1>
      <%= link_to 'Sign up!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>